<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description>Connexion</description>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Home</description>
    <servlet-name>Home</servlet-name>
    <servlet-class>servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Inscription</description>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>servlets.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Profil</description>
    <servlet-name>Profil</servlet-name>
    <servlet-class>servlets.Profil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profil</servlet-name>
    <url-pattern>/profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Menu</description>
    <servlet-name>Menu</servlet-name>
    <servlet-class>servlets.Menu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu</servlet-name>
    <url-pattern>/menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Deconnexion</description>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>DeconnexionBouton</description>
    <servlet-name>DeconnexionBouton</servlet-name>
    <servlet-class>servlets.DeconnexionBouton</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionBouton</servlet-name>
    <url-pattern>/deconnexionbouton</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Administration</description>
    <servlet-name>Administration</servlet-name>
    <servlet-class>servlets.Administration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administration</servlet-name>
    <url-pattern>/administration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Creerscript</description>
    <servlet-name>Creerscript</servlet-name>
    <servlet-class>servlets.Creerscript</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Creerscript</servlet-name>
    <url-pattern>/creerscript</url-pattern>
  </servlet-mapping>
    <servlet>
    <description>ListeScripts</description>
    <servlet-name>ListeScripts</servlet-name>
    <servlet-class>servlets.ListeScripts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeScripts</servlet-name>
    <url-pattern>/listescripts</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>RestrictionFilter</filter-name>
    <filter-class>filters.RestrictionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestrictionFilter</filter-name>
    <url-pattern>/administration</url-pattern>
    <url-pattern>/Administration</url-pattern>
    <url-pattern>/profil</url-pattern>
    <url-pattern>/Profil</url-pattern>
       <url-pattern>/listescripts</url-pattern>
    <url-pattern>/Listescripts</url-pattern>
           <url-pattern>/creerscript</url-pattern>
    <url-pattern>/Creerscript</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
</web-app>